*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: .8rem;
}

/* classi comuni */

.pt-05{
    padding-top: .5rem;
}

.pt-1{
    padding-top: 1rem;
}

.pt-3{
    padding-top: 3rem;
}

.pt-5{
    padding-top: 5rem;
}

.pr-05{
    padding-right: .5rem;
}

.pr-1{
    padding-right: 1rem;
}

.pr-3{
    padding-right: 3rem;
}

.pr-5{
    padding-right: 5rem;
}

.pb-05{
    padding-bottom: .5rem;
}

.pb-1{
    padding-bottom: 1rem;
}

.pb-3{
    padding-bottom: 3rem;
}

.pb-5{
    padding-bottom: 5rem;
}

.pl-05{
    padding-left: .5rem;
}

.pl-1{
    padding-left: 1rem;
}

.pl-3{
    padding-left: 3rem;
}

.pl-5{
    padding-left: 5rem;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.p-relative{
    position: relative;
}


/* sezione banner */

.banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width:calc(100% - 192px);
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.banner .btn{
    padding: 0.6em 2em;
    color: white;
    border: 2px solid white;
    border-radius: 2em;
    margin-right: 2rem;
    text-transform: uppercase;
}

.banner .btn:hover{
    transform: scale(1.1, 1.1);
}

/* sezione centrale / side */
.central{
    display: flex;
}


.side{
    display: flex;
    flex-direction: column;
    width: 192px;
    height: calc(100vh - 7rem);
    background-color: black;
    color: #707070;
    overflow:hidden;
    flex-shrink: 0;

}

.side a{
    text-decoration: none;
    color: #707070;
}

.side a:hover{
    color: white;
}
.container-logo{
    height: 5rem;
    width: 192px;
    flex-shrink: 0;
}

.logo{
    width: 70%;

}

.small{
    width: 40px;
    display: none;
}

.menu{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.home {
    border-left: 3px solid #C1FE5C;
    width: 100%;
    padding-left: 9px;
}

.home a{
    color: rgb(209, 209, 209);
    
}

.home img,
.search img,
.library img{
    width: 25px;
    vertical-align: -3px;
}

.side .playlists .fas{
    font-size: 1.5rem;
    padding: 0.5em;
    margin-left: -.5rem;
    transform: scale(1.3, 1.3);
    vertical-align: -2px;
}

.playlist-sec{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100%;
    min-height: 230px;
}

.playlists .fas{

    color: #A3A3A3;
}

.playlists span:hover .fas{
    color: white;
}

.playlists{  
    height: 100%;
    overflow-y: auto;
    background-color: black;
}

.playlist{
    padding: 0.7em 0;
}

.user{
    width: 100%;
    background-color: black;
    flex-shrink: 0;
}

.profile{
    color: white;
    border-top: 2px solid #A3A3A3;
    display: inline-block;
    width: 80%;
    margin-left: 1rem ;
}

.profile-pic{
    width: 30px;
    height: 30px;
    background-color: #808080;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: -10px;
}

@media screen and (max-width:560px) {
    .banner{
    width:calc(100% - 50px);

    }
    
    .side{
    width: 50px
    }

    .container-logo{
        display: flex;
        width: 50px;
        justify-content: center;

    }

    .logo{
        display: none;
    }

    .small{
        display: inline-block;
        margin-top: -1rem
    }


    span{
        display: none;
    }

    .playlist-sec{
        justify-content: flex-end;
    }
    
    .playlists{
        display: none;
    }

    .user{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .user div:first-of-type{
        padding-left: 0;
        padding-right: 0;
    }
    .profile{
        border: none;
    }

}




/* sezione centrale / main */


.section-main{
    height: calc(100vh - 7rem);
    background-color: #151921;
    width: 100%;
    overflow-y: auto;
    color: white;
}

.nav{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.nav li:first-of-type::after{
    content: "";
    width: 50%;
    height: 2px;
    background-color: #C1FE5C;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 20px;
}

.nav a{
    text-decoration: none;
    color: #A3A3A3;
}

.nav a:hover{
    color: white;
}

.nav li{
    margin: 2rem 1.5rem;
    text-transform: uppercase;
}

.song{
    text-align: center;
    width: calc((100% - 12rem) / 6);
    height: 270px;
    margin: 2rem  0.9rem;
    float: left;
}

.song .far{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 4rem;
}

.song:hover .img-opa{
    opacity: 0.7;
}

.song:hover .far{
    display: inline-block;
    opacity: none;
}


@media screen and (max-width:900px) {
    .song{
    width: calc((100% - 8rem) / 4);

    }
}

@media screen and (max-width:650px) {
    .song{
    width: calc((100% - 4rem) / 2);

    }
}


.song img{
    width: 100%;
}


.artist{
    color: #A3A3A3;

}

.last .song img{
    border-radius: 50%;
}



/* sezione footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom:0;
    z-index: 11;
    height: 7rem;
    width: 100%;
    background-color: #282828;
    color: white;
}

.footer-item{
    display: flex;
    align-items: center;
    flex-basis: 192px;
    justify-content: space-between;
}

footer img{
    width: 45px;
}

.icons .far{
    color:#777777;
    font-size: 1.1rem;
}

.icons .far:hover{
    color: white;
}

.player-song{
    display: flex;
    align-items: center;
    margin-left:1rem;
}

footer .artist{
   font-size: 0.8rem;
}

footer .artist a{
    text-decoration: none;
    color:#777777;
}

footer .artist a:hover{
    color: white;
    text-decoration: underline;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-btn{
    display: flex;
    align-self: center;
    align-items: center;
}

.play-button{
    font-size: 2rem;
    
}

.play-button:hover{
    transform: scale(1.2, 1.2);
}

.progress-sec{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.player .progress{
    background-color: #5C5C5C;
    max-width: 500px;
    width: 30vw;
    height: 5px;
    border-radius: 1rem;
}

.progress-done{
    background-color: #c4c4c4;
    border-radius: 1rem;
    width: 25%;
    height: 5px;
}

.progress:hover .progress-done{
    background-color: #C1FE5C;
}

.volume-sec{
    display: flex;
}

.volume-sec .progress{
    background-color: #5C5C5C;
    width: 8vw;
    height: 5px;
    border-radius: 1rem;  
}

.progress-done .fas{
    position: absolute;
    right: -0.3rem;
    top:-.4rem;
    font-size: 1.1rem;
    display: none;
}

.progress:hover .progress-done .fas{
    display: inline-block;
}

@media screen and (max-width: 640px){
    .icons{
        display: flex;
        flex-direction: column;
    }
    
    .icons .far{
        margin: 0;
        padding: 0;
    }

    .icons .far:first-of-type{
        padding-bottom: .5rem;
    }
}